.flashACK {
  margin-bottom: 16px;
  padding: 8px;
  background-color: palegreen;
}
.flashNACK {
  margin-bottom: 16px;
  padding: 8px;
  background-color: pink;
}
.flashADVISORY {
  margin-bottom: 16px;
  padding: 8px;
  background-color: khaki;
}

