.bgroup {
	margin-right: 1em;
}
.log {
	font-family: monospace;
	white-space: normal;
	text-indent: -10px;
	padding-left: 10px;
}
dl#jobstats dt {
	font-weight: bold;
}
dl#jobstats dd {
	margin-left: 1em;
}
.flashACK {
  margin-bottom: 16px;
  padding: 8px;
  background-color: palegreen;
}
.flashNACK {
  margin-bottom: 16px;
  padding: 8px;
  background-color: pink;
}
.flashADVISORY {
  margin-bottom: 16px;
  padding: 8px;
  background-color: khaki;
}

