<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.archive.util.OneLineSimpleLayout" />
	</appender>

	<logger name="org.apache.commons.httpclient">
		<level value="ERROR" />
	</logger>

	<root>
		<level value="WARN" /> 
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
